<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
	<meta name="google-signin-client_id" content="133551892961-p9p0a5gg752o8k3uj4g7k2ps8c8erkv5.apps.googleusercontent.com"/>
	<!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
    <script src="https://apis.google.com/js/client.js"></script>
</head>
<body>
  <div class="container">
  </div>
</body>
<script src="main.js"></script>
<!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
