doctype html
html
    head
        meta(name="viewport", content="initial-scale=1")
        meta(name="google-signin-client_id" content="133551892961-p9p0a5gg752o8k3uj4g7k2ps8c8erkv5.apps.googleusercontent.com")
        script(type="text/javascript", src="https://apis.google.com/js/client.js")
        title React Tutor
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="/app/tutor/static/style.css")


    body
        .container
        script(type="text/javascript", src="/app/tutor/static/main.js")
